body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 87px;
	background-color: #052849;
}
.logo {
	height: 100%;
	filter: brightness(0) invert(1);
}

.sidebar{
  box-sizing: border-box;
  align-items: center;
	align-items: flex-start;
	height: 100%;
	overflow-y: auto;
	background-color: white;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.2);
	gap: 10px;
 
}

.sidebarData{
  display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}


.hero {
  width: 80%;
}

.subtitle {
  color: lightgray;
  font-size: 14px;
  width: 80%;  
  text-align: center;

}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 16px 10px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	gap: 8px;
}

.tag {
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #333;
	font-size: 0.75em;
	text-align: center;
}


.tag:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.retailSales {
	box-sizing: border-box;
	flex: 1 1;
	min-height: 200px;
	padding: 20px 0px;
	background-color: white;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.2);
}

.details {
	flex: 1 1;
	min-height: 200px;
	overflow: auto;
	background-color: #fff;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,.2);
}

table {
	width: 100%;
	overflow: scroll;
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	padding: 15px 15px;
	text-align: right;
}

th:first-child,
td:first-child {
	text-align: left;
}

th {
	z-index: 10;
	position: sticky;
	top: 0;
	overflow: hidden;
	border-bottom: 2px solid #eaeaea;
	background-color: white;
	color: #333;
	font-size: 0.75rem;
	font-weight: normal;
	direction: rtl;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

th span {
	font-family: monospace;
}

td {
	border-bottom: 1px solid #eaeaea;
	color: #97a7bb;
	font-size: 0.75rem;
}

tbody tr:hover {
	background-color: #f0f0f0;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.loading {
	text-align: center;
	font-size: 2rem;
}

.mainContainer {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	overflow-x: scroll;
	background-color: #f6f8fa;
	gap: 20px;
}

.productOverviewSection {
	flex: 1 1;
}

.productDetailSection {
	display: flex;
	flex: 3 1;
	flex-direction: column;
	min-width: 400px;
	gap: 20px;
}